

div.dashboard {
	font: 11px/13px "Lucida Grande", verdana, Helvetica, arial, sans-serif;
	margin: 0 auto;
	color: #333;
	text-align: left;
}

div.dashboard-panel {
	margin: 0px 0px 0px 0px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

div.dashboard-panel-body {
}
div.dashboard-panel-desc {
	margin: 3px 0;
	font-size: 10px;
	line-height: 10px;
	font-weight: normal;
/*	text-transform: uppercase; */
	text-align: left;
	color: #999;
	border-bottom: 1px solid #777777;
	padding: 1px 0 3px 0;
	}


div.dashboard-panel-head {
	clear: left;
	font: normal 20px/18px Arial, Helvetica, sans-serif;
	margin: 0 0 2px;
	text-align: left;
/*	text-transform: uppercase; */
	color: #0066cc;
}

div.dashboard-panel div.dashboard-panel-body ul {
 list-style: square;
 list-style-image: url(images/menu-leaf.gif);
 padding: 5px 15px 15px 15px;
 margin: 0;
}

div.dashboard-panel li {
 padding: 2px;
 margin: 0;
}
div.dashboard-panel-body li a {
	color:#555555;
	text-decoration: underline;
	font-weight: normal;
}
div.dashboard-panel a:hover {
	color:#AAAAAA;
}

div.dashboard-panel #col1 {
	float: left;
	width: 50%;
}

div.dashboard-panel #col2 {
	float: left;
	width: 50%;
}

div.dashboard-panel table {
  width: 100%;
  margin-top: 5px;
}


div.dashboard-panel tr {
  margin-bottom: 1em;
}
div.dashboard-panel th {
 background: url(images/menu-leaf.gif) no-repeat center left;
  width: 40%;
  margin: 0 0 0 1em;
  padding: 0 0 0em 1.5em;
  text-decoration: none;
  border: none;
}

div.dashboard-panel td {
  width: 1%;
  margin: 0 0 0 0;
  padding: 0 1em 0em 0;
}
