
div.dashboard-container1 {
	float: left;
	margin-top: 1px;
	width: 50%;
}

div.dashboard-container2 {
	float: left;
	margin-top: 1px;
	width: 49%;
}
div.dashboard-panel-desc {
	margin: 0px 0px 3px;
	font-size: 10px;
	line-height: 10px;
	font-weight: normal;
	text-align: left;
	color: #999;
	border-bottom: 1px solid #777777;
	padding: 2px 0 3px 0;
}

div.dashboard-panel {
	margin: 0px 0px 0px 0px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

div.dashboard-panel-body {
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 4px;
	padding-top: 0px;
	background-color: #f4f4f4;
	line-height: 1.2;
}

div.dashboard-panel-body select {
  float: left;
  margin: 0 8px 0 0;
	font-family: Verdana,sans-serif;
	font-size: 95%;
	font-weight: normal;
}

div.dashboard-panel-body input {
	font-family: Verdana,sans-serif;
	font-size: 95%;
	font-weight: normal;
}

div.dashboard-panel-body .form-item {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

div.dashboard-panel-body table {
	width: 96%;	
}

div.panel-logs {
  overflow: auto;
}

div.dashboard-panel-head {
	background-color: #6699CC;
	color: #FFFFFF;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
}

div.dashboard-panel ul {
	margin-left: 0px;
	padding-left: 0px;
	text-align: left;
	list-style-type: none;
  margin-top: 0px;
}

div.dashboard-panel ul.collapsed {
	display: none;
}

div.dashboard-panel li.item-list {
  background-repeat: no-repeat;
	list-style-type: none;
	padding: 0px 0px 0px 28px;
	margin: 4px 0px 2px 0px;
  background-position: 0.56em 0em;
}

div.dashboard-panel li.stats-list {
	background-image: url(images/gray_arrow.gif);
  background-repeat: no-repeat;
	list-style-type: none;
	padding: 0px 0px 0px 22px;
	margin: 2px 0px 2px 0px;
  background-position: .35em 0em;
}

div.dashboard-panel a {
	display: inline;
	color: #336699;
	text-decoration: none;
	font-family: Verdana,sans-serif;
	font-size: 96%;
	font-weight: normal;
}

div.dashboard-panel-head a:link, div.dashboard-panel-head a:visited {
	text-decoration: none;
	color: #ffffff;
	margin: -16px 4px 0px 0px;
	float: right;
}
